@{
    ViewBag.Title = "InsertResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center; padding:4em 4em 4em 4em;">
    <h2>Kết quả cổ đông đăng ký tham gia đại hội</h2>
    <hr />
    <h3> @ViewBag.kq</h3>

    <div class="form-group">
        <a href="/"><button class="btn btn-default">Trở về trang chủ</button></a>
        <a href="Index"><button class="btn btn-primary">Trở lại danh sách các cổ đông</button></a>
    </div>
</div>


